img{
    height: 300px;
    width: 300px;
    object-fit: fill;
    border: 2px solid rgba(240, 234, 214,0.9);
    padding: 8px;
    margin-top: 20px;
}
.albumName{
    margin-top: 10px;
}

.imgExpand{
    margin: 25px;
}