@keyframes rowInsert {
    0%{
        opacity: 0;
    }
    25%{
        opacity: 0.25;
    }
    50%{
        opacity: 0.50;
    }
    75%{
        opacity: 0.75;
    }
    100%{
        opacity: 1;
    }
    from{
        margin-top:100%;
    }
    to{
        margin-top: 2em;
    }
}

img{
    width: 420px;
    height: 640px;
    object-fit: fill;
}

#galleryContainer>div{
    margin-top: 2em;
}

#galleryContainer>.row{
    margin-right: 2em;
    margin-left: 2em;
    border: 4px solid rgba(240, 234, 214,0.9);
    border-radius: 9px;
}
#galleryContainer>.row{
    transition: background-color 1s;
}

#galleryContainer>.row:hover{
    background-color: rgba(26, 26, 26,0.9)
}

#galleryContainer>.row{
    animation-name: rowInsert;
    animation-duration: 2s;
}

.imgPost>img{
    position: inherit;
    z-index: 2;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
    transition: border-top 0.5s, border-bottom 0.5s, border-left 0.5s, border-right 0.5s, padding-top 0.5s, padding-bottom 0.5s;
}
.userName{
    text-align: center;
    opacity:0;
    transition: opacity 0.7s;
}
.userCaption{
    opacity: 0;
    transition: opacity 0.7s;
}
.userHashtags{
    opacity: 0;
    transition: opacity 0.7s;
}
.moreDisplay{
    opacity: 0;
    height: 640px;
    width: 420px;
    position: absolute;
    z-index: 1;
    text-align: center;
}
.more{
    background-color: transparent;
    color: rgba(240, 234, 214,0.9);
    border-radius: 9px;
    border-top: none;
    border-bottom: none;
    border-left: 2px solid rgba(240, 234, 214,0.9);
    border-right: 2px solid rgba(240,234,214,0.9);
    opacity: 0;
    transition: opacity 0.7s;
}
.optionBtn{
    background-color: transparent;
    color: rgba(240, 234, 214,0.9);
    border-radius: 2px;
    border-top: none;
    border-bottom: none;
    border-left: 2px solid rgba(240, 234, 214,0.9);
    border-right: 2px solid rgba(240,234,214,0.9);
    margin-top: 10%;
}

.viewImage{
    background-color: transparent;
    color: rgba(240, 234, 214,0.9);
    border-radius: 2px;
    border-top: none;
    border-bottom: none;
    border-left: 2px solid rgba(240, 234, 214,0.9);
    border-right: 2px solid rgba(240,234,214,0.9);
    margin-top: 20%;
}

.moreDisplay>h2{
    margin-top:10%;
}

.commentContainer{
    height: 210px;
    border: 2px solid rgba(240, 234, 214,0.9);
    border-radius: 7px;
    padding: 4px;
    text-align: left;
}

.commentForm>div>input{
    background-color: transparent;
    color:rgba(240, 234, 214,0.9);
    border: 2px solid rgba(240, 234, 214,0.9);
    border-radius: 9px;
    font-size: 15px;
}

.commentButton{
    background-color: transparent;
    color: rgba(240, 234, 214,0.9);
    border: 2px solid rgba(240, 234, 214,0.9);
    border-radius: 9px;
}

.imgPost:hover>.more{
    opacity: 1;
}
.imgPost:hover>img{
    border-bottom:4px solid rgba(240, 234, 214,0.9) ;
    border-left:4px solid rgba(240, 234, 214,0.9) ;
    padding-bottom: 8px;
    padding-left: 8px;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    border-top-left-radius: 9px;
}


.imgPost:hover>.userName{
    opacity: 1;
}
.imgPost:hover>.userCaption{
    opacity: 1;
}
.imgPost:hover>.userHashtags{
    opacity: 1;
}

