@keyframes animatePfp {
    0%{
        height: 300px;
        width: 300px;
        border-width: 2px;
    }
    50%{
        height: 370px;
        width: 370px;
        border-width: 5px;
        transform: rotate(360deg);
    }
    100%{
        height: 300px;
        width: 300px;
        border-width: 2px;
    }
}

#profileEditContainer{
    text-align: center;
}

.editInfo{
    background-color: transparent;
    color:  rgba(240, 234, 214,0.9);
    margin-top: 10%;
    margin-right: 10%;
}

#pfpImage{
    animation-name: animatePfp;
    animation-duration: 2s;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    object-fit: cover;
    padding: 4px;
    border: 2px solid rgba(240, 234, 214,0.9);
}

img{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    object-fit: cover;
    padding: 4px;
    border: 2px solid rgba(240, 234, 214,0.9);
}
.credentials{
    margin-top: 20%;
}

.profileLbl{
    background-color: transparent;
    margin-top: 10%;
    margin-right: 10%;
}

.profileValueLbl{
    background-color: transparent;
    margin-top: 10%;
    margin-right: 10%;
}

.profileBtn{
    background-color: transparent;
    margin-top: 10%;
    margin-right: 10%;
    color: rgba(240, 234, 214,0.9);
    border-radius: 9px;
    border:2px solid rgba(240, 234, 214,0.9);
}

.postHistoryContainer{
    margin-top: 60px;
}

.imgHistory{
    margin:20px;
}

.historyCaption{
    margin:20px;
}

.historyImgCap{
    padding-top: 40px;
    padding-bottom: 40px;
    border-top:2px solid rgba(240, 234, 214,0.9);
}

#submitNewPfp{
    background-color: transparent;
    margin-top: 10%;
    margin-right: 10%;
    color: rgba(240, 234, 214,0.9);
    margin-left: 10px;
    border:none;
    border-radius: unset;
    border-bottom:2px solid rgba(240, 234, 214,0.9);
}

#uploadFileLabel{
    padding: 1px;
    border:none;
    margin-right: 10px;
    border-bottom:2px solid rgba(240, 234, 214,0.9);
}